<% layout('layouts/boilerplate') -%> 

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
<div class="card">
	<div class="card-header">
		Edit Post
	</div>
	<div class="card-body">
	<form action="/posts/<%= post.id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
		<div>
			<label for="postTitle">Post title</label>
			<input id="postTitle" class="card-title form-control" type="text" name="post[title]" placeholder="Title" value="<%=post.title%>">
		</div>
		<div>
			<label for="postPrice">Post price</label>
			<input id="postPrice" class="card-title form-control" type="number" name="post[price]" step=".01" placeholder="Price" value="<%=post.price%>">
		</div>
		<div>
			<label for="postLocation">Post location</label>
			<input id="postLocation"class="card-title form-control" type="text" name="post[location]" placeholder="Location" value="<%= post.location %>">
		</div>
		<div>
			<label for="postDescription">Post description</label>
			<textarea id="postDescription" class="card-text form-control"name="post[description]" placeholder="Description"><%=post.description%></textarea>
		</div>
<br>
			<div>
				<% post.images.forEach(function(image, i) { %>
					<img src="<%= image.path %>" width="100px" />
					<label class="form-check-label" for="image<%= i %>">Delete</label>
					<input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox form-check-label" id="image<%= i %>" value="<%= image.filename %>">
					<% }); %>
					<br>
					<input style="margin-top: 5px; margin-bottom: 5px;"type="file" id="imageUpload" accept="images/*" name="images" multiple />
				</div>
				<input type="submit" class="btn btn-success">
			</form>
		</div>
	</div>
		</div>
	</div>

<script src="/javascripts/post-edit.js"></script>