<% layout('layouts/boilerplate') -%> 



<h1 class="h1 text-center">Posts indexs</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <% include ../partials/searchFilter %>
    </div>
    <div class="col-md-8">
    <div id="map"></div>
</div>
</div>
</div>



<% include ../partials/paginatePosts %>

<% posts.docs.forEach(function(post) { %>
    <div>
        <h2>Title: <%= post.title %>
        </h2>
        <div>Price: <%= post.price %>
        </div>
        <div>Description: <%= post.description %>
        </div>
        <div>Location: <%= post.location %>
        </div>
        <div><a href="/posts/<%= post.id %>"> View more</a></div>
    </div>
    <% }); %>

<% include ../partials/paginatePosts %>

<script>
	mapboxgl.accessToken = "<%= mapBoxToken %>";
	var posts = { features: <%- JSON.stringify(posts.docs) %> };
</script>

<script src="/javascripts/allPostsClusterMap.js"></script>